@model IEnumerable<iAgenda.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h4>Οδηγοί</h4>
    <a class="btn btn-outline-secondary" asp-action="Create">Πατήστε εδώ για εισαγωγή οδηγού</a>
</p>


<table class="table table-bordered table-hover table-striped">
    <thead class="text-white table table-dark">
        <tr>
            <th>
                @Html.Label("ΟΝΟΜΑΤΕΠΩΝΥΜΟ")
            </th>
            <th>
                @Html.Label(" ΣΤΑΘΕΡΟ ΤΗΛΕΦΩΝΟ")
            </th>
            <th>
                @Html.Label("ΚΙΝΗΤΟ 1")
            </th>
            <th>
                @Html.Label("ΚΙΝΗΤΟ 2")
            </th>
            <th>
                @Html.Label("ΤΕΤΡΑΨΗΦΙΟ")
            </th>
            <th>
                @Html.Label("ΑΡΙΘΜΟΣ ΦΟΡΤΗΓΟΥ")
            </th>
            <th>
                @Html.Label("ΣΗΜΕΙΩΣΕΙΣ")
            </th>
            <th>
                @Html.Label("EMAIL")
            </th>
            <th>
                @Html.Label("ΤΜΗΜΑ")
            </th>
            <th>
                @Html.Label("ΥΠΟΚΑΤΑΣΤΗΜΑ")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FourDigitsCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchOffice.Name)
                </td>
                <td>
                    <partial name="_tableButtons" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
