@model IEnumerable<iAgenda.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h4>Υπάλληλοι</h4>
    <a class="btn btn-outline-secondary" asp-action="Create">Πατήστε εδώ για εισαγωγή υπαλλήλου</a>
</p>


<table class="table table-bordered table-hover table-striped">
    <thead class="text-white table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourDigitsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourDigitsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Description)
            </td>
            <td>
                <partial name="_tableButtons" model="item" />
            </td>
        </tr>
}
    </tbody>
</table>
